<!-- Sidebar Brand -->
<div class="brand"><span>Creativeley</span></div>

<!-- Sidebar Menubar -->
<ul class="menubar">
     <li><%= link_to '' do %><span class="link-text">FAQ</span><% end %></li>
     <li><%= link_to '' do %><span class="link-text">Terms of Service</span><% end %></li>
     <li><%= link_to '' do %><span class="link-text">About the Artist</span><% end %></li>
     <li><%= link_to '' do %><span class="link-text">Links</span><% end %></li>
     <li><%= link_to '' do %><span class="link-text">Contact Us</span><% end %></li>
     <li><%= link_to '' do %><span class="link-text">Gallery</span><% end %></li>
</ul>
