<main role="main">

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbtron-heading">Creatively</h1>
    <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget nisl nec diam ullamcorper fermentum a at ipsum. Vivamus id mi dolor. Cras consectetur tellus eu metus mattis, sed placerat massa tempus. In hac habitasse platea dictumst. Cras sapien nisi, lobortis eget ex eget, molestie consectetur nisl. Mauris at rutrum augue. Proin aliquam vulputate nulla, eu laoreet leo molestie a. Sed quis facilisis mauris. Donec eu blandit magna. Morbi vitae placerat dui, vitae varius turpis. Cras in pretium mauris, venenatis porta ligula. Integer laoreet diam eu velit consectetur, a convallis magna ullamcorper. Donec tincidunt lobortis ipsum a vestibulum. Nam congue sit amet purus id sagittis. Fusce ultricies sollicitudin velit eu bibendum. Cras porta facilisis nibh, sit amet fermentum orci vestibulum nec. </p>
  </div>
</section>

<div class="album py-5 bg-light">
   <div class="container">

     <div class="row">
       <div class="col-md-4">
         <div class="card mb-4 shadow-sm">
            <%= image_tag "10001.png", class: "card-img-top" %>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
         </div>
       </div>

       <div class="col-md-4">
         <div class="card mb-4 shadow-sm">
            <%= image_tag "10002.png", class: "card-img-top" %>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
         </div>
       </div>

       <div class="col-md-4">
         <div class="card mb-4 shadow-sm">
            <%= image_tag "10003.png", class: "card-img-top" %>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
         </div>
       </div>

       <div class="col-md-4">
         <div class="card mb-4 shadow-sm">
            <%= image_tag "10004.png", class: "card-img-top" %>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
         </div>
       </div>

       <div class="col-md-4">
         <div class="card mb-4 shadow-sm">
            <%= image_tag "10005.png", class: "card-img-top" %>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
         </div>
       </div>

       <div class="col-md-4">
         <div class="card mb-4 shadow-sm">
            <%= image_tag "10006.png", class: "card-img-top" %>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
         </div>
       </div>

       <div class="col-md-4">
         <div class="card mb-4 shadow-sm">
            <%= image_tag "10007.png", class: "card-img-top" %>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
         </div>
       </div>
     </div>

   </div>
</div>

</main>
