<!DOCTYPE html>
<html>
	<head>
                <%= render 'layouts/rails_default' %>
                <%= render 'layouts/shims' %>
                <title><%= full_title(yield(:title)) %></title>
	</head>

        <body>
              <div id="wrapper">
                   <nav id="sidebar" class="minimize">
										   <%= render 'shared/sidebar' %>
									 </nav>
                   <div id="content">
                        <div id="content-header">
													<%= render 'shared/content_header' %>
												</div>
                        <div id="content-body">
                          <div class="container-fluid">
                             <%= yield %>
													</div>
												</div>
                        <div id="content-footer">
													<%= render 'shared/content_footer' %>
												</div>
                   </div>
              </div>
							<%= render 'layouts/javascripts' %>
        </body>


</html>
